# Global directories
__pycache__/

# Global files
*.py[codz]

# Root directories
/.venv/
/venv/
/.idea/
/.vscode/
/.pytest_cache/
/docs/bin/xsdvi/build/
/docs/build/

# Root files
/test*.xml
/check*.xml
