name: Tests

on: [push, pull_request]

env:
  PY_COLORS: 1
  COLUMNS: 110
  PIP_DISABLE_PIP_VERSION_CHECK: 1

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}-latest

    strategy:
      fail-fast: false
      matrix:
        os: [windows, ubuntu, macos]
        python-version: ["3.10", "3.14"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Upgrade pip and install requirements
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade pytest lxml GTC
      - name: Run tests
        run: python -m pytest
